---
title: Datical DB for PCF (Beta)
owner: Partners
---

<p class="note warning">
<strong>WARNING! </strong>
The Datical DB for PCF tile is currently in beta and is intended for evaluation and test purposes only. 
Do not use this product in a PCF production environment.
</p>

This documentation describes Datical DB for Pivotal Cloud Foundry (PCF). Datical DB for PCF enables developers to  
integrate the databases supporting PCF data services into their build and deployment pipelines for automated
deployment of database code changes related to PCF application code changes.

## <a id='overview'></a>Overview

Datical DB for PCF deploys Datical DB software on PCF through the Tile to configure database access and integrate the  
databases that are providing data services to PCF apps into developer pipelines through the PCF Ops Manager console. 

Using Datical DB for PCF requires a license key that can be obtained by licensed Datical customers through [Datical Support] (mailto:support@datical.com).

## <a id='features'></a>Key Features

Datical DB for PCF includes the following key features:

* Deploy Datical DB for PCF in a docker-bosh container in your PCF environment.



## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about Dactical DB for PCF.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Tile version</td>
        <td>v4.23.4290</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>September 8, 2017</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>v4.23</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v1.8, v1.9.x, v1.10.x, and v1.11.x</td>
    </tr>
    <tr>
        <td>Compatible Elastic Runtime version(s)</td>
        <td>v1.8.x, v1.9.x, v1.10.x, and v1.11.x</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP, OpenStack, and vSphere</td>
    </tr>
    <tr>
        <td>IPsec support?</td>
        <td>Yes</td>
    </tr>
</table>

## <a id="reqs"></a>Requirements

Datical DB for PCF has the following requirements:

+ Datical license key

+ Active licensing agreement with Datical

## <a id="limitations"></a>Limitations

Current version does not support Datical DB configuration with Pivotal Ops Manager. This will be available in a future release.

## <a id="feedback"></a>Feedback

If you have a feature request, questions, or information about a bug, please email
[Pivotal Cloud Foundry Feedback](mailto:pivotal-cf-feedback@pivotal.io) list or [Datical Support] (mailto:support@datical.com).

## <a id='license'></a>License

If you need to obtain or renew a license please contact [Datical Support] (mailto:support@datical.com).
