---
title: Release Notes for Datical DB for PCF
owner: Partners
---

These are release notes for Datical DB for PCF.

##<a id="ver"></a> v4.23.1

**Closed Beta Release Date:** September 8, 2017

Features included in this release:

* Deploy Datical Deployment Monitoring Console (DMC) in a Docker-BOSH container in your PCF environment 
for different departments to easily spin up their own dashboards with drill down details
* Configure Datical DMC through PCF Ops Manager.
* Prebuilt integration with PCF Concourse for cloud native CI/CD.

Known issues in this release:

* Current version does not support Datical DB configuration with Ops Manager.
